<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Encerrar Bolsista</title>
</head>
<body >


<form action="#" th:action="@{/bolsa/encerrarParticipacao}" th:object="${participacao}"
	th:method="post">
		<input type="hidden" th:field="*{idParticipacao}"/>
		<label th:for="${#ids.next('dataFim')}">Data: </label> 
 		<input type="date" th:field="*{dataFim}" id="dataFim"/>

		<br /> 
				
		<label th:for="${#ids.next('observacao')}">Observação: </label> 
		<input type="text" id="observacao" name="observacao" th:value="*{observacao}" /> 
		
		<br /> 
		
		<button type="submit">Encerrar</button>

</form>






</body>
</html>




