.table-lite td { padding: 4px; };

.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }

.no-margin { margin: 0px !important; }
.no-padding { padding: 0px !important; }
.no-radius { border-radius: 0px !important; }

.radius-2 { border-radius: 2px; }
.radius-4 { border-radius: 4px; }
.radius-8 { border-radius: 8px; }
.radius-16 { border-radius: 16px; }
.radius-24 { border-radius: 24px; }

.radius-top-2 { border-radius: 2px 2px 0 0; }
.radius-top-4 { border-radius: 4px 4px 0 0; }
.radius-top-8 { border-radius: 8px 8px 0 0; }
.radius-top-16 { border-radius: 16px 16px 0 0; }
.radius-top-24 { border-radius: 24px 24px 0 0; }

.max-width-50 { max-width: 50px; }
.max-width-100 { max-width: 100px; }
.max-width-150 { max-width: 150px; }
.max-width-200 { max-width: 200px; }
.max-width-250 { max-width: 250px; }
.max-width-300 { max-width: 300px; }
.max-width-350 { max-width: 350px; }
.max-width-400 { max-width: 400px; }
.max-width-450 { max-width: 450px; }

.circle {
    border-radius: 50%;
}

.btn-floating.top-left {
    position: absolute;
    top: -26px;
    left: 26px;
}

.btn-floating.top-right {
    position: absolute;
    top: -26px;
    right: 26px;
}

.btn-floating.bottom-left {
    position: absolute;
    bottom: -26px;
    left: 26px;
}

.btn-floating.bottom-right {
    position: absolute;
    bottom: -26px;
    right: 26px;
}

.btn-floating.left-top {
    position: absolute;
    top: 26px;
    left: -26px;
}

.btn-floating.right-top {
    position: absolute;
    top: 26px;
    right: -26px;
}

.btn-floating.left-bottom {
    position: absolute;
    bottom: 26px;
    left: -26px;
}

.btn-floating.right-bottom {
    position: absolute;
    bottom: 26px;
    right: -26px;
}

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }

.padding-8 { padding: 8px !important; }
.padding-16 { padding: 16px !important; }
.padding-24 { padding: 24px !important; }
.padding-32 { padding: 32px !important; }
.padding-40 { padding: 40px !important; }
.padding-48 { padding: 48px !important; }
.padding-52 { padding: 52px !important; }
.padding-72 { padding: 72px !important; }

.thin { font-weight: 200; }
.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }

.justify {
    text-align: justify;
}

.text-10 {
 	font-size: 10px !important;
 }
 
 .text-12 {
 	font-size: 12px !important;
 }
 
 .text-14 {
 	font-size: 14px !important;
 }
 
 .text-16 {
 	font-size: 16px !important;
 }
 
 .text-18 {
 	font-size: 18px !important;
 }
 
 .text-20 {
 	font-size: 20px !important;
 }
 
 .text-24 {
 	font-size: 24px !important;
 }
 
 .text-28 {
 	font-size: 28px !important;
 }
 
 .text-32 {
 	font-size: 32px !important;
 }
 
 .text-36 {
 	font-size: 36px !important;
 }
 
 .text-42 {
 	font-size: 42px !important;
 }
 
 .text-48 {
 	font-size: 48px !important;
 }

.text-52 {
 	font-size: 52px !important;
 }

.text-72 {
 	font-size: 72px !important;
 }

.text-96 {
 	font-size: 96px !important;
 }

.text-128 {
 	font-size: 128px !important;
 }