<footer class="page-footer blue-grey darken-2 sidenav-opened" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Clínicas</h5>
                <p class="grey-text text-lighten-4">Sistema de Gerenciamento de Estoque das Clínicas de Odontologia da UFC.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3">
        <div class="container">
            © 2016 
            <a class="grey-text text-lighten-4" href="http://www.quixada.ufc.br/npi-nucleo-de-praticas-em-informatica/">
                Núcleo de Práticas em Informática
            </a>
            <a class="grey-text text-lighten-4 right" href="http://www.ufc.br/">
                Universidade Federal do Ceará
            </a>
        </div>
    </div>
</footer>