
<ul id="slide-out" class="side-nav fixed " th:fragment="side-nav">
    <li>
    	<a class="userView waves-effect waves-light indigo lighten-1 valign-wrapper" th:href="@{/}">
	        <i class="cover material-icons grey-text text-lighten-5">group</i>
	        <span class="grey-text text-lighten-5 title">CONBO</span>
    	</a>
    </li>
    
    <li>
    	<a th:href="@{/}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'inicio')? sidenav-active">
    		<i class="material-icons">home</i>
    		Início
    	</a>
    </li>
    <li>
    	<a th:href="@{/aluno/listar/}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'aluno')? sidenav-active">
    		<i class="material-icons">school</i>
    		Alunos
    	</a>
    </li>
    <li>
    	<a th:href="@{/pessoa/listar/}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'pessoa')? sidenav-active">
    		<i class="material-icons">group</i>
    		Responsáveis
    	</a>
    </li>
    <li>
    	<a th:href="@{/projeto/listar/}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'projeto')? sidenav-active">
    		<i class="mdi mdi-view-dashboard"></i>
    		Projetos
    	</a>
    </li>
    <li>
    	<a th:href="@{/bolsa/listar/}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'bolsa')? sidenav-active">
    		<i class="material-icons">work</i>
    		Bolsas
    	</a>
    </li>
    <li>
    	<div class="divider blue-grey darken-3"></div>
    </li>
    <li>
    	<a th:href="@{/logout}" class="waves-effect waves-light" th:classappend="(${currentPage} == 'sair')? sidenav-active">
    		Sair
    	</a>
    </li>
</ul>