
<ul id="slide-out" class="side-nav fixed " th:fragment="sidenav">
    <li>
    	<a class="userView waves-effect waves-light indigo lighten-1 valign-wrapper" th:href="@{/}">
	        <i class="cover material-icons grey-text text-lighten-5">map</i>
	        <span class="grey-text text-lighten-5 title">POR AQUI</span>
    	</a>
    </li>
    
    <li>
    
    	<div class="row card-container">
    	
    		<div class="col s12 card-place-reference">
    			<div class="card waves-effect waves-block">
    				<div class="card-content">
    					<span class="bold indigo-text type">Tipo</span>
    					<br />
    					<span class="bold pink-text name">Name</span>
    					<br />
    					<div class="valign-wrapper">
    						<span class="bold pink-text rate-text">4.5</span><div class="no-padding rate"></div> 
    					</div>
    					<span class="light blue-grey-text text-darken-2 description" >Descricao</span>
    				</div>
    				<div class="card-action">
    					<button class="btn-flat btn-avaliar pink-text">Avaliar</button>
    					<button class="btn-icon btn-remover"><i class="material-icons">delete</i></button>
    				</div>
    			</div>
    		</div>
    		
    	</div>
    
    </li>
</ul>