<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="views/base/base"
    th:with="currentPage='aluno'">

	<head>
	
	    <title>Conbo - Alunos</title>
	    
	    <link rel="stylesheet" th:href="@{/css/aluno/listar.css}"/>
	    
	</head>

	<section layout:fragment="conteudo">
		
		<div class="row">
		
			<!-- BREADCRUMBS - Mostra o caminho até a página atual -->
			
			<div class="col s12 breadcrumbs valign-wrapper">
	            
	            <a th:href="@{/}" class="breadcrumb blue-grey-text">
	                <i class="material-icons left">home</i>
	            </a>
	            
	            <a class="breadcrumb blue-grey-text">Alunos</a>
	            
	        </div>
	        
	        <!-- BREADCRUMBS -->
		
		
			<!-- CONTAINER - Conteiner principal da aplicação -->
			
		    <div class="col s12">
		    	
				<div class="card">
					
					<div class="card-content relative">
						<div class="row">
							<div class="col s12 input-field">
								 <input type="text" id="table-filter" name="nome" th:value="${nome}" />
								 <label for="table-filter">Buscar</label>
							</div>
						</div>
						
						<div class="bottom-right">
							<a th:href="@{/aluno/cadastrar}" 
								class="btn-floating btn-large waves-effect waves-light tooltipped" 
								data-tooltip="Cadastrar aluno" type="button"
								th:classappend="${#lists.isEmpty(alunos)}? self-sampled"><i class="material-icons">add</i></a>
						</div>

					</div>
					
					<div class="card-action" th:if="${#lists.isEmpty(alunos)}">
						<span class="bold indigo-text">Não há alunos cadastradas</span>
					</div>
					
					<table th:unless="${#lists.isEmpty(alunos)}" id="table-alunos"
						class="datatable table-hover table-lite table-card"
						data-sort-col="0,1,2" data-sort-direction="desc,desc,asc" 
						data-filter="#table-filter">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Matrícula</th>
								<th class="hide-on-small-only">CPF</th>
								<th class="hide-on-med-and-down">Banco</th>
								<th class="hide-on-med-and-down">Agencia</th>
								<th class="hide-on-med-and-down">Conta Corrente</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="aluno:${alunos}">
								<td class="max-width-200"><span th:text="${aluno.nome}" class="justify"></span></td>
								<td th:text="${aluno.matricula}"></td>
								<td class="hide-on-small-only" th:text="${aluno.CPF}"></td>
								<td class="hide-on-med-and-down" th:text="${aluno.banco}"></td>
								<td class="hide-on-med-and-down" th:text="${aluno.agBanco}"></td>
								<td class="hide-on-med-and-down" th:text="${aluno.numeroContaCorrente}"></td>
								<td>
									<a class="btn-icon waves-effect tooltipped" data-tooltip="Editar" th:href="@{${'/aluno/editar/'+aluno.id}}" ><i class="material-icons">edit</i></a>
									<a class="btn-icon waves-effect tooltipped confirm" data-text="Deseja realmente remover este aluno?" data-tooltip="Remover" th:href="@{${'/aluno/remover/'+aluno.id}}" ><i class="material-icons">delete</i></a>
									<a class="btn-icon waves-effect tooltipped" data-tooltip="Detalhes" th:href="@{${'/aluno/detalhes/'+aluno.id}}" ><i class="material-icons">zoom_in</i></a>
								</td>
								
							</tr>
						</tbody>
					</table>
				
				</div>

		    </div>
		    	        	   
		    <!-- CONTAINER -->
		    
		</div>
		
	</section>

	<section layout:fragment="js">
	
		<!-- SCRIPTS - Coloque aqui os scripts desta página -->
			
	</section>

</html>